:host {
  font-family: sans-serif;
  border: 2px solid #3b012b;
  display: block;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: #3b012b;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.5rem;
  display: block;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #3b012b;
  background-color: #3b012b;
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background-color: #8b196b;
  border-color: #8b196b;
}

form button[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0rem;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

li:hover,
li:active {
  background-color: purple;
  cursor: pointer;
  color: #fff;
}
